<div class="flex flex-col container mx-auto p-4 ">
    <div class="flex justify-center pb-10">
        <h1 class="text-4xl text-white font-bold">To-Do List Application</h1>
    </div>
    <div class="flex justify-center">
        <input placeholder="Search Todo..."
         class="block w-96 p-4 ps-3 text-sm border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 placeholder:text-lg" type="search" [value]="SearchValue">
        <button type="submit" class="px-12 ml-7 border border-stone-700 bg-blue-500 text-white rounded-lg hover:bg-indigo-600">Search</button>
        <button (click)="modalService.openModal('Create')" type="submit" class="px-12 ml-7 border border-stone-700 bg-teal-500 rounded-lg hover:bg-emerald-700 text-white">
            Add <i class="fa fa-solid fa-plus"></i>
        </button>
    </div>
    <div class="mt-9 flex flex-col items-center justify-center space-y-7 ">
        <div *ngIf="(todoService.todo$ | async) === null">
            <p class="text-3xl text-white">There are no work to do</p>
        </div>
        <ng-container *ngIf="(todoService.todo$| async) as todos">
            <div *ngFor="let todo of todos | paginate: {itemsPerPage: todoService.pagination?.pageSize, currentPage: todoService.pagination?.pageIndex, totalItems: todoService.pagination?.totalItem}" >
                <app-todo-item [todoItem]="todo"></app-todo-item>
            </div>
        </ng-container>
    </div>
    <div class="flex items-center justify-center mt-4">
        <pagination-controls 
            class="text-xl"
            (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
    <app-todo-modal></app-todo-modal>
</div>
