<ng-container *ngIf="todoItem">
    <div class="bg-white w-[750px] h-[120px] rounded-xl relative">
        <input type="checkbox" class="absolute size-6 me-6 left-6 top-11" [checked]="todoItem.isCleared">
        <p class="absolute top-5 left-16 ms-3 pl-4 text-lg">{{todoItem.title}}</p>
        <p class="absolute top-4 left-1/2">Due date: {{todoItem.dueDate | date: 'dd-MM-yyyy'}}</p>
        <p class="absolute top-14 left-24 ms-3 pl-4 h-[50px] w-[450px] text-lg">{{todoItem.description}}</p>
        <div class="flex flex-col absolute top-3 right-12 space-y-2">
            <button class="p-2 w-[100px] border border-stone-700 bg-red-500 size-10 hover:bg-red-700 text-white rounded"
                    (click)="onShowAlert(todoItem.id)">
                Delete
                <i class="fa-solid fa-trash fa-lg"></i>
            </button>
            <button (click)="modalService.openModal('Update',todoItem)" class="p-2 w-[100px] border border-stone-700 bg-yellow-400 hover:bg-amber-500 size-10 text-white rounded">
                Update
                <i class="fa-solid fa-pen-to-square fa-lg"></i>
            </button>
        </div>
        <div class="absolute right-3 top-1" [ngClass]="{
            'text-lime-400': todoItem.priority.toLowerCase() === 'low',
            'text-yellow-500': todoItem.priority.toLowerCase() === 'medium',
            'text-red-600': todoItem.priority.toLowerCase() === 'high'}">
            <i class="fa-solid fa-circle"></i>
        </div>
    </div>
    
</ng-container>

